html, body {
  position: relative;
  height:100vh;
}

body {
  background:#000;
  font-size: 14px;
  color:#000;
}

.has-image-background {
  background-image:url('gif/peinture.gif');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height:100vh; 
  width:100%;
}

.logo
{
  margin:auto;
  margin-top:50px;
  border:solid black 1px;
  border-radius: 50%;
  width:300px;
  height:300px;
  background-image: url("images/logo.png");
  background-size: 75% 75%;
  background-position: center;
  background-repeat: no-repeat;
}

h2
{
  margin-top: 5%;
}

nav
{
  margin-top: 10%;
  border:solid black 1px;
}

#menu_horizontal
  {
    text-align: center;
    margin-top:20px;
    padding: 0px;
  }

ul#menu_horizontal li 
  { 
    display : inline;
    padding : 1.5em; /* Pour espacer les boutons entre eux */
    font-size: 1.5em; /*taille des boutons*/
  }

ul#menu_horizontal 
  {
    list-style-type : none; /* Car sinon les puces se placent n'importe où */
  }

ul#menu_horizontal li a
  {
    color: #000;
  }

  div#page-1
  {
    height:100vh;
    width:100%;
  }

div.sections
{
  width: 100%;
  height: 100vh;
  background:#000;
  border:solid black 4px;
  position: relative;
  background-color: #fff;
   display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

h1
{
  transform:rotate(-90deg);
  margin-top: 300px;
}

p#descriptionAgence
{
  text-align: justify;
  margin-top: 100px;
  font-size:1vw;

}

div.cercles
{
  border:solid black 1px;
  border-radius: 50%;
  width:160px;
  height:160px;
  margin-top: 50px;
}

div.carrés
{
  border:solid black 1px;
  width:200px;
  height:200px;
  margin-top:50px;
  display:block;
  animation-duration: 1s;
  animation-delay: 0s;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;

}

div.carrés:hover
{
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

div#carrés1
{

}

div#carrés1:hover
{
  background-color: blue;
  opacity:25%;
  cursor:pointer;
}

div#carrés2
{

}

div#carrés2:hover
{
  background-color: red;
  opacity:25%;
  cursor:pointer;
}

div#carrés3
{

}

div#carrés3:hover
{
  background-color: green;
  opacity:25%;
  cursor:pointer;
}

div#carrés4
{
  
}

div#carrés4:hover
{
  background-color: yellow;
  opacity:25%;
  cursor:pointer;
}

div#carrés5
{
  
}

div#carrés5:hover
{
  background-color: pink;
  opacity:25%;
  cursor:pointer;
}

div#carrés6
{
  
}

div#carrés6:hover
{
  background-color: purple;
  opacity:25%;
  cursor:pointer;
}

div#carrés7
{
  
}

div#carrés7:hover
{
  background-color: orange;
  opacity:25%;
  cursor:pointer;
}

div#carrés8
{
  
}

div#carrés8:hover
{
  background-color: brown;
  opacity:25%;
  cursor:pointer;
}

a.c
{
  text-align:center;
  margin-top: 50%;
  display:none;
}

div.photoEquipe
{
  border:solid black 1px;
  width:400px;
  height:400px;
  margin-top: 100px;
}

p#CoordonnéesAgence
{
  margin-top: 100px;
}

div.reseauxSociaux
{
  width:100px;
  height:100px;
  margin-top: 50px;
}

div#facebook
{
  background-image: url("images/facebook_logo_black.png");
  background-size: 75% 75%;
    background-position: center;
    background-repeat: no-repeat;
    cursor:pointer;
}

div#facebook:hover
{
  background-image: url("images/facebook_logo_color.png");
  background-size: 75% 75%;
    background-position: center;
    background-repeat: no-repeat;
    cursor:pointer;
}

div#twitter
{
  background-image: url("images/twitter_logo_black.png");
  background-size: 75% 75%;
    background-position: center;
    background-repeat: no-repeat;
    cursor:pointer;
}

div#twitter:hover
{
  background-image: url("images/twitter_logo_color.png");
  background-size: 75% 75%;
    background-position: center;
    background-repeat: no-repeat;
    cursor:pointer;
}

div#instagram
{
  background-image: url("images/instagram_logo_black.png");
  background-size: 75% 75%;
    background-position: center;
    background-repeat: no-repeat;
    cursor:pointer;
}

div#instagram:hover
{
  background-image: url("images/instagram_logo_color.png");
  background-size: 75% 75%;
    background-position: center;
    background-repeat: no-repeat;
    cursor:pointer;
}

p#descriptionContacte
{
  margin-top: 50px;
}

.arrowsBack
{
  width: 50px;
  transform: rotate(180deg);
  margin-top:20px;
}

footer
{
  height:50px;
  width:auto;
  background-color: #000;
}

@media screen and (max-width: 1200px)
{
  html, body, div#page-1,div.sections
  {
    height:auto;
  }

  div.sections
  {
    border:solid black 1px;
  }

  div.cercles
  {
    width:150px;
    height:150px;
  }

  div.carrés
  {
    border:solid black 1px;
    width:150px;
    height:150px;
  }
}
@media screen and (max-width: 1000px)
{
  /*#agence, #portfolio, #contacts
  {

  }*/
  h1
  {
    transform:rotate(0deg);
    margin-top: 50px;
    text-align:center;
  }
}

@media screen and (max-width: 400px)
{
  .logo
  {
    width:200px;
    height:200px;
  }

  div.cercles
  {
    width:100px;
    height:100px;
  }

  div.carrés
  {
    border:solid black 1px;
    width:100px;
    height:100px;
  }

  div.photoEquipe
  {
    border:solid black 1px;
    width:250px;
    height:250px;
    margin-top: 100px;
  }

}


