html, body {
  position: relative;
  height: 100%;
}

body {
  background:#000;
  font-size: 14px;
  color:#000;
}

.swiper-container {
  width: 100%;
  max-width: 1920px;
  height: 100%;
  background:#000;
}

.swiper-slide {
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-v-button-prev, .swiper-v-button-next {
  background-image:url(images/arrow.png);
  position: absolute;
  left: calc(50% - 32px);
  z-index: 1;
}

.swiper-v-button-prev {
  background-image:url(images/arrow.png);
  top: 10px;
  transform: rotate(90deg);
  opacity: 0.3;
  transition-property: opacity;
  transition-duration: 1s;
  width:64px;
  height:64px;
}

.swiper-v-button-prev:hover, .swiper-v-button-next:hover {
  opacity: 1;
}

.swiper-v-button-next {
  background-image:url(images/arrow.png);
  bottom: 10px;
  transform: rotate(-90deg);
  opacity:0.3;
  transition-property: opacity;
  transition-duration: 1s;
  width:64px;
  height:64px;
}

.swiper-h-button-next {
  background-image:url(images/arrow.png);
  top:calc(50% - 32px);
  width:64px;
  height:64px;
  right:10px;
  opacity:0.3;
  transition-property: opacity;
  transition-duration: 1s;
  z-index: 1;
  position:absolute;
  transform:rotate(180deg);
}

.swiper-h-button-prev {
  background-image:url(images/arrow.png);
  top:calc(50% - 32px);
  width:64px;
  height:64px;
  left:10px;
  opacity:0.3;
  transition-property: opacity;
  transition-duration: 1s;
  z-index: 1;
  position:absolute;
}

.swiper-h-button-prev:hover, .swiper-h-button-next:hover {
  opacity:1;
}


.swiper-v-button-prev.swiper-button-disabled, .swiper-v-button-next.swiper-button-disabled {
  display: none;
}

.swiper-h-button-prev.swiper-button-disabled, .swiper-h-button-next.swiper-button-disabled {
  display: none;
}

.has-image-background {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@media only screen and (max-width: 550px) {
  .swiper-v-button-next, .swiper-v-button-prev, .swiper-h-button-prev, .swiper-h-button-next  { 
    background-image:url(images/arrow.png);
    background-size: contain;
    opacity:0.3;
    width:50px;
    height:50px;
  }
}

@media only screen and (max-width: 550px) {
  .swiper-v-button-prev{ 
    left: calc(50% - 25px);
    top:10px;
  }
}

@media only screen and (max-width: 550px) {
  .swiper-v-button-next{ 
    left: calc(50% - 25px);
    bottom: 10px;
  }
}

@media only screen and (max-width: 550px) {
  .swiper-h-button-prev { 
    top:calc(50% - 25px);
    left:10px;
  }
}

@media only screen and (max-width: 550px) {
  .swiper-h-button-next  { 
    top:calc(50% - 25px);
    right:10px;
  }
}

#box-scroll {
  width: 80%;
  height: 80%;
  margin: auto;
  overflow-y: scroll; /* has to be scroll, not auto */
  float: left;
}

.logo
{
  margin:auto;
  border:solid black 1px;
  border-radius: 50%;
  width:300px;
  height:300px;
  background-image: url("images/logo.png");
  background-size: 75% 75%;
    background-position: center;
    background-repeat: no-repeat;
}

h2
{
  margin-top: 5%;
}

nav
{
  margin-top: 10%;
  border:solid black 1px;
}

#menu_horizontal
  {
    text-align: center;
    margin-top:20px;
    padding: 0px;
  }

ul#menu_horizontal li 
  { 
    display : inline;
    padding : 1.5em; /* Pour espacer les boutons entre eux */
    font-size: 1.5em; /*taille des boutons*/
  }

ul#menu_horizontal 
  {
    list-style-type : none; /* Car sinon les puces se placent n'importe où */
  }

ul#menu_horizontal li a
  {
    color: #000;
  }

div.sections
{
  border:solid black 1px;
  height:600px;
  width:auto;
  position: relative;
}

h1
{
  transform:rotate(-90deg);
}

p#descriptionAgence
{
  text-align: justify;
  margin-top: 100px;
}

div.cercles
{
  border:solid black 1px;
  border-radius: 50%;
  width:200px;
  height:200px;
  margin-top: 50px;
}

div.carrés
{
  border:solid black 1px;
  width:200px;
  height:200px;
  margin-top:50px;
  display:block;
  animation-duration: 1s;
  animation-delay: 0s;
}

div.carrés:hover
{
  width:250px;
  height:250px;
}

div#carrés1
{

}

div#carrés1:hover
{
  background-color: blue;
  opacity:25%;
  cursor:pointer;
}

div#carrés2
{

}

div#carrés2:hover
{
  background-color: red;
  opacity:25%;
  cursor:pointer;
}

div#carrés3
{

}

div#carrés3:hover
{
  background-color: green;
  opacity:25%;
  cursor:pointer;
}

div#carrés4
{
  
}

div#carrés4:hover
{
  background-color: yellow;
  opacity:25%;
  cursor:pointer;
}

div#carrés5
{
  
}

div#carrés5:hover
{
  background-color: pink;
  opacity:25%;
  cursor:pointer;
}

div#carrés6
{
  
}

div#carrés6:hover
{
  background-color: purple;
  opacity:25%;
  cursor:pointer;
}

div#carrés7
{
  
}

div#carrés7:hover
{
  background-color: orange;
  opacity:25%;
  cursor:pointer;
}

div#carrés8
{
  
}

div#carrés8:hover
{
  background-color: brown;
  opacity:25%;
  cursor:pointer;
}

a.c
{
  text-align:center;
  margin-top: 50%;
  display:none;
}

div.photoEquipe
{
  border:solid black 1px;
  width:400px;
  height:400px;
  margin-top: 100px;
}

p#CoordonnéesAgence
{
  margin-top: 100px;
}

div.reseauxSociaux
{
  width:100px;
  height:100px;
  margin-top: 50px;
}

div#facebook
{
  background-image: url("images/facebook_logo_black.png");
  background-size: 75% 75%;
    background-position: center;
    background-repeat: no-repeat;
    cursor:pointer;
}

div#facebook:hover
{
  background-image: url("images/facebook_logo_color.png");
  background-size: 75% 75%;
    background-position: center;
    background-repeat: no-repeat;
    cursor:pointer;
}

div#twitter
{
  background-image: url("images/twitter_logo_black.png");
  background-size: 75% 75%;
    background-position: center;
    background-repeat: no-repeat;
    cursor:pointer;
}

div#twitter:hover
{
  background-image: url("images/twitter_logo_color.png");
  background-size: 75% 75%;
    background-position: center;
    background-repeat: no-repeat;
    cursor:pointer;
}

div#instagram
{
  background-image: url("images/instagram_logo_black.png");
  background-size: 75% 75%;
    background-position: center;
    background-repeat: no-repeat;
    cursor:pointer;
}

div#instagram:hover
{
  background-image: url("images/instagram_logo_color.png");
  background-size: 75% 75%;
    background-position: center;
    background-repeat: no-repeat;
    cursor:pointer;
}

p#descriptionContacte
{
  margin-top: 50px;
}

footer
{
  height:50px;
  width:auto;
  background-color: #000;
}
