header
{
	top: 0;
	width: 100%;
}

img#logo
{
	display: block;
	margin-right: auto;
	margin-left: auto;
	height: 10%;
	width: 10%;
}

h2
{
	transform-rotate:calc(90deg);
}

nav
{
	
}

div
{
	
}

footer
{
	
}

